---
// src/components/AboutUs.astro
---
<section id="about" class="py-20 bg-black-gradient">
    <div class="max-w-4xl mx-auto px-4 text-center" data-motion-scroll>
        <h2 class="text-4xl font-bold text-white mb-6 uppercase border-b-2 border-silver pb-2 inline-block">Rólunk</h2>
        <p class="text-lg text-gray-400 leading-relaxed">
            Szalonunkban hiszünk abban, hogy a haj nem csak frizura, hanem a személyiséged tükre. Évek tapasztalatával és szenvedéllyel a szépség iránt, professzionális szolgáltatásokat nyújtunk, a legújabb trendeknek és technikáknak megfelelően. Gyere és tapasztald meg a minőséget és a kényeztetést!
        </p>
    </div>
</section>